@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	&.ishome
	 .site-header
	  min-height: 600px
	  height: 100vh
	  color: #fff
	  .top-line
	   position: absolute
	   width: 100%
	   height: 85px
	   

hr
 border: none 
 background-color: #4d9090  
 color: #4d9090 
 height: 1px; 

.logo 
  img
   margin-top: 34px 
   with: 103px
   height: auto
   
.main-menu
  margin-top: 34px 
  height: 36px
  float: right
  ul  
   list-style: none 
   margin: 0
   padding-left: 0
  a 
   text-decoration: none 
   font-size: 13pt
   font-family: "Montserrat-Regular" 
   color: #d8d7d5
   -weblit-transition: all .25s 
   -o-transition: all .25s 
   transition: all .25s 
   &:hover 
     color: #fff 
  li 
   display: inline 
   padding-left: 6px
 

.phone
  margin-top: 30px 
  height: auto
  width: 165px
  font-family: "Merriweather-Regular"
  font-size: 12pt
  white-space: nowrap
  color: #d8d7d5 
  border-left: 1px solid #4d9090
  padding-left: 10px

 

.email
  padding
  height: auto
  width: 165px
  font-family: "Merriweather-Regular"
  font-size: 12pt
  white-space: nowrap
  color: #d8d7d5
  border-left: 1px solid #4d9090
  padding-left: 10px



.hamburger
 position: releative
 margin-top: 32px
 .hamburger-box
  width: 30px
  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
   border-radius: 0
   width: 30px
   height: 3px
   background-color: #d8d7d5 

.s-about-us
 position: absolute
 width: 100%
 padding-top: 80px

#caption





section, header
 position: relative
  background-size: cover
  background-position: centre
  backgound-color: #fff

.img-responsive
	display: block
	max-width: 100%
	height: auto

@import "media" // Всегда в конце
